@keyframes infinite-spinning {
    0% {
        transform: rotate(0deg)
    } to {
        transform: rotate(-1turn)
    }
}

.spinner {
    animation: infinite-spinning 5s linear infinite;
}

.progress-icons {
    display: flex;
    margin-top: 10px;
}

.information {
    margin-top: 10px;
}
